{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="row">
    <main class="col-8 offset-1">
        <h2>Welcome to the teachers directory !</h2>
        <p class="mt-3">This is an administration tool, from here it is possible
            to list and add members from our pedagogic team !</p>
    </main>
</div>
<div class="row">
    <div class="col-8 offset-1 mt-5 mb-5">
    {% if user.is_authenticated %}
    <h5 class="mt-3 mb-3">Welcome {{ user.username }}</h5>
    <ul>
        <li><a href="{% url 'directory:teacher_add' %}">Add a teacher</a></li>
        <li><a href="{% url 'directory:subject_add' %}">Add a subject</a></li>
        <li><a href="{% url 'directory:teacher_bulk_add' %}">Add many teachers</a></li>
    </ul>

    {% else %}
    <p class="mt-3 mb-3">
        Please <a href="{% url 'directory:login' %}">log-in</a> or 
        <a href="{% url 'directory:signup' %}">sign-up</a> to administrate
    </p>
    {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2 d-flex justify-content-around">
        <h4 class="w-100 text-center mt-5 mb-4">Our pedagogic team :</h4>
    </div>
</div>
<div class="row">
    <form method="post" class="col-8 offset-2">
        <div class="d-flex flex-row align-items-bottom">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mr-5">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-secondary">Filter</button>
    </form>
</div>
<div class="row mt-5 mb-5 p-4 d-flex justify-content-between">
    {% if teachers|length > 0 %}
    {% for teacher in teachers %}
    <a href="{% url 'directory:teacher' teacher.id %}" class="col-4">
        <div class="card mt-5">
            <div class="card-header">
                <h5 class="text-center mt-2">
                    {{ teacher.first_name }} {{ teacher.last_name }}
                </h5>
            </div>
            <div class="card-body d-flex justify-content-center">
                <img src="{{teacher.profile_picture.url}}"
                    alt="{{ teacher.first_name }} {{ teacher.last_name }}, member of our pedagogic team"
                    title="{{ teacher.first_name }} {{ teacher.last_name }}, member of our pedagogic team" class="avatar-thumbnail"
                    />
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <p class="col-8 offset-2">
        Oops, looks like no teacher matching your criteria have been added yet !
    </p>
    {% endif %}
</div>
<div class="row">
    <div class="col-8 offset-2 d-flex justify-content-around">
        <h4 class="w-100 text-center mt-5 mb-4">Our areas of specialisation :</h4>
    </div>
</div>
<div class="row mt-5 mb-5 p-2 d-flex justify-content-between">
    {% if subjects|length > 0 %}
    <ul class="col-8 offset-2">
        {% for subject in subjects %}

        <li><a href="{% url 'directory:subject' subject.id %}" class="col-4">{{subject.name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="col-8 offset-2">
        Oops, looks like no subject have been added yet !
    </p>
    {% endif %}
</div>
    

{% endblock %}